[submodule "caf_core"]
	path = caf_core
	url = ../caf_core.git
[submodule "caf_lib/caf_session"]
	path = caf_lib/caf_session
	url = ../caf_session.git
[submodule "caf_lib/caf_prop"]
	path = caf_lib/caf_prop
	url = ../caf_prop.git
[submodule "caf_lib/caf_profiler"]
	path = caf_lib/caf_profiler
	url = ../caf_profiler.git
[submodule "caf_lib/caf_cli"]
	path = caf_lib/caf_cli
	url =../caf_cli.git
[submodule "caf_lib/caf_security"]
	path = caf_lib/caf_security
	url =../caf_security.git
[submodule "caf_lib/caf_sharing"]
	path = caf_lib/caf_sharing
	url =../caf_sharing.git
[submodule "caf_extra/caf_deploy"]
	path = caf_extra/caf_deploy
	url =../caf_deploy.git
[submodule "caf_extra/caf_imap"]
	path = caf_extra/caf_imap
	url =../caf_imap.git
[submodule "caf_extra/caf_pull"]
	path = caf_extra/caf_pull
	url =../caf_pull.git
[submodule "caf_extra/caf_pubsub"]
	path = caf_extra/caf_pubsub
	url =../caf_pubsub.git
[submodule "caf_extra/caf_sim"]
	path = caf_extra/caf_sim
	url =../caf_sim.git
[submodule "caf_examples"]
	path = caf_examples
	url =../caf_examples.git
[submodule "caf_extra/caf_iot"]
	path = caf_extra/caf_iot
	url =../caf_iot.git
[submodule "caf_extra/caf_iot_cli"]
	path = caf_extra/caf_iot_cli
	url = ../caf_iot_cli
[submodule "caf_examples_RPi/helloiot_cli"]
	path = caf_examples_RPi/helloiot_cli
	url = ../caf_examples_helloiot_cli
[submodule "caf_examples_RPi/caf_iot_setup"]
	path = caf_examples_RPi/caf_iot_setup
	url = ../caf_iot_setup
[submodule "caf_lib/caf_jsonrpc"]
	path = caf_lib/caf_jsonrpc
	url = ../caf_jsonrpc
[submodule "caf_examples_drone/caf_hellodrone_cli"]
	path = caf_examples_drone/caf_hellodrone_cli
	url = ../caf_hellodrone_cli
[submodule "caf_examples_drone/caf_ardrone_setup"]
	path = caf_examples_drone/caf_ardrone_setup
	url = ../caf_ardrone_setup
[submodule "caf_extra/caf_ardrone"]
	path = caf_extra/caf_ardrone
	url = ../caf_ardrone
